<!DOCTYPE html>
header {
}
h1{ /*Stressy Jessy*/
  text-align: center;
  color: #e08283;
}
h2{ /*Tool Bar*/
  background-color: #019875;
  color: white;
}
h3{ /*Page-Specific Title*/
}
h4{ /*Page Options 1-5*/
}
image{
}
body {
}
article{
}
p { /*Further Information for Options*/
}
.small{ /*Prices for Options*/
}
@media (max-width: 500px) {
}
</html>
/*colors:
PALETTE CHOICE 1
light blue #4ecdc4
turquoise #1ba39c
dark teal #019875
deep salmon #e08283
salmon #f1a9a0

PALETTE CHOICE 2
turquoise #29c99d
medium pink #eeb0b0
light pink #f9cae6
light mint #b3ffb4
dark grey #5e5e5e
*/
